<div class="sort-controls">
  <span>Sort by:</span>
  <button (click)="setSort('userName')">User Name</button>
  <button (click)="setSort('email')">E-mail</button>
  <button (click)="setSort('createdAt')">Date</button>
  <span class="sort-direction">
    {{ sortDirection === 'asc' ? '▲' : '▼' }}
  </span>
</div>

<div class="comment-list-container">
  <ng-container
    *ngTemplateOutlet="commentListTemplate; context: { $implicit: hierarchicalComments }">
  </ng-container>
</div>

<!-- Lightbox -->
<div *ngIf="lightboxImage" class="lightbox" (click)="closeImage()">
  <img [src]="lightboxImage" alt="Preview" />
  <span class="lightbox-close" (click)="closeImage(); $event.stopPropagation()">&times;</span>
</div>

<ng-template #commentListTemplate let-comments>
  <div *ngFor="let comment of comments" class="comment-container"
       [ngClass]="{ 'active': isReplyActive(comment.id) }">
    
    <div class="comment-header">
      <span class="user-name">{{ comment.userName }}</span>
      <span class="comment-date">{{ comment.createdAt | date:'dd.MM.yyyy HH:mm' }}</span>
    </div>

    <div class="comment-meta">
      <p>Email: {{ comment.email }}</p>
      <p *ngIf="comment.homePage">
        Website: 
        <a [href]="sanitizeUrl(comment.homePage)" target="_blank" [innerHTML]="sanitizeHtml(comment.homePage)"></a>
      </p>
    </div>

    <div class="comment-text" [innerHTML]="sanitizeHtml(comment.textMessage)"></div>

    <div class="comment-attachment" *ngIf="comment.fullFileUrl && comment.isImage">
      <img [src]="comment.fullFileUrl" (click)="openImage(comment.fullFileUrl)" class="preview-img">
    </div>

    <div *ngIf="comment.fullFileUrl && !comment.isImage">
      <button (click)="downloadFile(comment.fullFileUrl)">Download File</button>
    </div>

    <div class="comment-actions">
      <button (click)="handleReply(comment.id)">Reply</button>
    </div>

    <div class="comment-actions" *ngIf="comment.showDiscussionButton">
      <button *ngIf="!comment.isThreadOpen" (click)="toggleThread(comment)">Show Discussion</button>
      <button *ngIf="comment.isThreadOpen" (click)="toggleThread(comment)">Collapse Discussion</button>
    </div>

    <div *ngIf="comment.isThreadOpen" class="comment-replies">
      <ng-container *ngTemplateOutlet="commentListTemplate; context: { $implicit: comment.replies }"></ng-container>
      <div class="comment-actions" *ngIf="comment.hasMoreReplies">
        <button (click)="loadMoreReplies(comment)">Load More Replies</button>
      </div>
    </div>

  </div>
</ng-template>
